
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255,0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;

}

body{
  font-family: "Roboto Condesed", sans-serif  !important;
}

/* Nav Bar CSS  */
/* Boot strap uses rem instead of pixel thus we have to convert*/
.logo {
  width:6rem;
   margin-right: 0.75rem;
  margin-left: 0.75rem;
}


nav a.nav-link {
  font-size: 0.8rem;
  letter-spacing: 0.0375rem;
  cursor:pointer;
}
nav ul li {
  text-transform: uppercase;
}
/* important is used to override bootstrap settings*/
.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top:0.1875rem solid var(--primary-dark) !important;
}

.navbar-brand{
  max-width: 17.5rem;
  padding: 0rem  !important;
  height: 6rem  !important;

}
.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top:0.1875rem solid var(--primary-orange) !important;
}

.navbar-nav > li > a:hover {
   border-top:0.1875rem solid var(--primary-orange) !important;
}


/*Header CSS*/
.header-wrapper{
  position:relative;
  background-image: url(resources/scaled3.jpg);
  background-repeat:  no-repeat;
  background-position: center;
  background-size: cover;
    height: 1000px;
  
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.main-info{
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-info h1 {
  color:var(--primary-orange);
  text-transform: uppercase;
}

/* Typed Text*/

.typed-text{
  font-size: 5rem;
  color: var(--primary-white)
  
}

/* Header Contact Button */
.btn-main-offer{
  position: relative;
  border: 2px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 5px;
  color: var(--primary-white);
  margin: 2rem;
}

/*About Me Styling*/
.photo-wrap{
  display:flex;
  justify-content: center;
  align-items: center;
}

.profile-img{
  width: 16rem;
  border-radius:50%;
  padding: 0.3rem;
  border: 1px solid var(--primary-orange);
}

.about-heading{
  color: var(--primary-orange);
  text-transform: uppercase;
}
@media(max-width: 468px){
  .profile-img{
    width:10rem;
  } 
}