
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100&display=swap');
:root {
  --primary-white: #fff;
  --primary-light-grey: #f4f4f4;
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666666;
  --primary-orange: #f9ab00;
  --primary-dark: rgb(52,58,64);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-black: #000000;
}

body{
  font-family: "Roboto Condesed", sans-serif  !important;
}

/* Nav Bar CSS  */
/* Boot strap uses rem instead of pixel thus we have to convert*/
.logo {
  width:3rem;
   margin-left:-25rem;
}


nav a.nav-link {
  font-size: 0.8rem;
  letter-spacing: 0.0375rem;
  cursor:pointer;
}
nav ul li {
  text-transform: uppercase;
}
/* important is used to override bootstrap settings*/
.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top:0.1875rem solid var(--primary-dark) !important;
}

.navbar-brand{
  max-width: 17.5rem;
  padding: 0rem  !important;
  height: 3rem  !important;

}
.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top:0.1875rem solid var(--primary-orange) !important;
}

.navbar-nav > li > a:hover {
   border-top:0.1875rem solid var(--primary-orange) !important;
}


/*Header CSS*/
.header-wrapper{
  position:relative;
  background-image: url(resources/scaled3.jpg);
  background-repeat:  no-repeat;
  background-position: center;
  background-size: cover;
    height: 1000px;
  
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.main-info{
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-info h1 {
  color:var(--primary-orange);
  text-transform: uppercase;
}

/* Typed Text*/

.typed-text{
  font-size: 5rem;
  color: var(--primary-white)
  
}

/* Header Contact Button */
.btn-main-offer{
  position: relative;
  border: 2px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 5px;
  color: var(--primary-white);
  margin: 2rem;
}

/*About Me Styling*/
.photo-wrap{
  display:flex;
  justify-content: center;
  align-items: center;
}

.profile-img{
  width: 16rem;
  border-radius:50%;
  padding: 0.3rem;
  border: 1px solid var(--primary-orange);
}

.about-heading{
  color: var(--primary-orange);
  text-transform: uppercase;
}
@media(max-width: 468px){
  .profile-img{
    width:10rem;
  } 
}
/* Services*/
.services {
  text-align: center;
  padding-bottom: 2rem;
  background: var(--primary-light-grey);
}
.services h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}
.services .circle{
position:relative;
margin: 0.375rem auto;
background:var(--primary-orange);
border-radius: 50%;
width: 6.25rem;
height:6.25rem;
}
.services .icon{
  font-size: 3.125rem;
  color:var(--primary-white);
  position:absolute;
  top: 50%;
  left:50%;
  transform:translate(-50%,-50%);
}

.services .box{
  height: 16rem;
  border-bottom: 0.3125rem solid var(--primary-orange);
  padding: 0.625rem;
  margin-bottom: 1.875rem;
  background: var(--primary-white);
  transition: 0.3s ease-in-out;
}

.services .box:hover{
  background: var(--primary-orange);
  border-bottom: 0.3125rem solid  var(--primary-dark);
}

.services .box:hover .icon {
  color: var(--primary-dark);
}

.services .box:hover.circle{
  color: var(--primary-white);
}

/*****Listed Skills*******/
.list {
  text-align: center;
  padding-bottom: 2rem;
}

.list h3 {
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  padding-right: 3rem;
}

.list ul {
  display: inline-block;
  text-align: left;
  padding-left: 0px;
}

.list  li{
  font-weight: 300;
}



/************Experience **************/
.experience-wrapper{
  position:relative;
  padding:3.125rem;
  overflow: hidden;
}

.experience h1 {
  text-transform: uppercase;
  color: var(--primary-orange);
}

.experience-wrapper::before{
  position:absolute;
  content:"";
  top:0;
  left:50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--primary-grey);
  z-index:1;
}

.timeline-block{
 width: calc(50% + 0.5rem);
 display: flex; 
 justify-content: space-between;
 clear:both;
}
.timeline-block-right{
  float:right;
  direction: ltr;
}
.timeline-block-left{
  float:left;
  direction: rtl;
}

.marker{
  width: 1 rem;
  height: 1rem;
  border-radius: 50%;
  border:0.3125rem solid var(--primary-dark);
  background: var(--primary-orange);
  margin-top: 0.625rem;
  z-index:3;
}

.timeline-content{
  width: 95%;
  padding: 0 0.09375rem;
  color: var(--primary-dark-grey);
  direction: ltr;
}

.timeline-content h3 {
  margin-top: 0.3125rem;
  color: var(--primary-red);
  font-weight: 900;
}
/* Mobile Device Adjusement*/
@media(max-width: 768px){
  .experience-container{
    padding-left: 0;
  }
  .experience-wrapper::before{
    left: 0.5rem;
    margin-bottom:1.875rem;
  }
  .timeline-block-right{
    float:none;
    width: 100%;
  }
  .timeline-block-left{
    float:none;
    direction: ltr;
    width: 100%;
  }
}

/**********************************Portfolio*/
.portfolio-wrapper{
  background: lightgrey;
  padding: 3rem 0;
}

.portfolio-wrapper h1{
  color: var(--primary-orange);
}

.portfolio-image{
  width: 12rem;
  height: 8rem;
  border: 1px solid var(--primary-orange);
  padding: 0 0.5rem;
  
}

.portfolio-image-box{
  position: relative;
  margin: 1rem;
}

.overflow{
  position:absolute;
  opacity: 0;
  background: var(--primary-black);
  width: 15rem;
  height: 8rem;
  top: 0;
  border: 1px solid var(--primary-red);
  cursor: pointer;
}

.portfolio-image-box:hover .overflow{
  opacity: 60%;
  transition: 0.3s ease-in-out;
}

.portfolio-icon{
  position: absolute;
  opacity:0;
  margin-left: -8rem;
  margin-top: 3.6rem;
  color: var(--primary-orange);
  font-size: 1.5rem;
}

.portfolio-image-box:hover .portfolio-icon{
  opacity: 70%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

/****************************OVERFLOW BOX**************************/

.portfolio-image-popupbox{
  width: 45rem;
  padding: 0 0.5rem;
}

.hyper-link{
  cursor: pointer;
  color: var(--primary-orange);
}
.hyper-link:hover{
  color:var(--primary-red);
  text-decoration: none;
}
/**************Media for Projects**********/
@media(max-width: 768px){
  .portfolio-image-popupbox{
    width: 100%;
  }

}
@media(max-height: 570px){
.popupbox-wrapper{
  height:100% !important;
}

  .portfolio-image-popupbox{
    width: 50%;
  }
  
}
@media(max-height: 280px){
  .popupbox-wrapper{
    height: 90%;
  }
  .portfolio-image-popupbox{
    width:30%;
  }
}
/*********************TIMELINE**********************/

.timeline {
  background: #3da3d5;
  font-size: 16px;
  color: var(--primary-black);
}

.title {
  font-size: 3em;
  text-align: center; 
  font-family: 'Bebas Neue', sans-serif;

}

.titleLink{
  text-decoration: none !important;
 color: var(--primary-black);
}

.titleLink:hover{
  cursor: pointer;
  text-decoration: none;
}


.title-description{
  margin-top: 0;
  margin-bottom: 1 rem;
  display: block;
  text-align: center;
}

.vertical-timeline-element-title{
  padding-top: 0.25em;
}

.vertical-timeline-element-content{
  box-shadow: 0 0.25em 0.5em 0 rgba(0,0,0,0.25), 0 0.4em 1.25em 0 rgba(0,0,0,0.15) !important;
  padding: 2em 3em !important;

}

.date{
  color: rgb(201,251,255);
}

#description{
  margin: 1.5em 0 2em 0;
}

.button{
  text-decoration: none  !important;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: white  !important;
}

.workButton{
  background-color: #06d6a0;
}

.workButton:hover{
  background-color: #0ac593 ;
}
.schoolButton{
  background-color: #f9c74f;
}

.schoolButton:hover{
  background-color: #f3bc3c;
}

@media only screen and (max-width: 1700px){
  .vertical-timeline-element-date{
    display: block  !important;
    float: none !important;
    color: rgb(44,44,44);
    margin-top: 1.5em;
  }
}

.resume {
  text-decoration: none;
  color: var(--primary-black);
}
.resume:hover{
  text-decoration: none;
  color:#f9ab00;
}



/**************************************Contacts*******************************/
.contacts{
  background: var(--primary-dark);
  padding: 3rem 0;
}
.contacts h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
  padding: 1.3rem 0;
}

.contacts p {
  color: var(--primary-light-grey);
  font-size: 1.2rem;
}

/**************************************Footer*******************************/
.footer {
  background: var(--primary-black);
  color: var(--primary-dark-grey);
  padding: 3rem;
}

.footer a{
  text-decoration: none;
  color: var(--primary-dark-grey);
 
}
.footer a:hover{
  text-decoration: none;
  color: var(--primary-orange);
  cursor: pointer;
}

.footer p{
  margin: 0;
}