
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255,0);
}
body{
  font-family: "Roboto Condesed";
}

/* Nav Bar CSS  */
/* Boot strap uses rem instead of pixel thus we have to convert*/
.logo {
  width:6rem;
   margin-right: 0.75rem;
  margin-left: 0.75rem;
}


nav a.nav-link {
  font-size: 0.8rem;
  letter-spacing: 0.0375rem;
  cursor:pointer;
}
nav ul li {
  text-transform: uppercase;
}
/* important is used to override bootstrap settings*/
.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top:0.1875rem solid var(--primary-dark) !important;
}

.navbar-brand{
  max-width: 17.5rem;
  padding: 0rem  !important;
  height: 6rem  !important;

}
.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top:0.1875rem solid var(--primary-orange) !important;
}

.navbar-nav > li > a:hover {
   border-top:0.1875rem solid var(--primary-orange) !important;
}
